.mishamol-title {
    position: relative;
    h1 {
        position: absolute;
        @include adaptive-max-width($adaptive_max_width_px, font-size, 70px, 10vw);
        overflow: hidden;
        color: $invisible;
        display: block;
        height: 100%;
        width: 100%;
        text-align: center;
    }
    img {
        display: block;
        @include adaptive-max-width($adaptive_max_width_px, height, 70px, 20vw);
        width: 100%;
        max-width: $page_content_max_width;
        @include adaptive-max-width($adaptive_max_width_px, padding, 0 $padding_inside_screen_borders_px, 0 $padding_inside_screen_borders_vw);
        @include adaptive-max-width($adaptive_max_width_px, margin, $padding_inside_screen_borders_px auto, $padding_inside_screen_borders_vw auto);
    }
}