.qote {
    $gap: 30px;
    $gap_vw: 4vw;
    display: flex;
    justify-content: center;
    background: $cobalt_milky;
    font-style: italic;
    font-weight: 400;
    color: $cobalt;
    @include adaptive-max-width($adaptive_max_width_px, padding, 45px - $gap $padding_inside_screen_borders_px - $gap 60px - $gap, calc(7vw - $gap_vw) calc($padding_inside_screen_borders_vw - $gap_vw) calc(10vw - $gap_vw));
    @extend %margin-block;
    max-width: $page_content_max_width;

    @media screen and (max-width: 800px) {
        flex-wrap: wrap;
        img {
            max-height: 45vh;
        }
    }

    &>* {
        @include adaptive-max-width($adaptive_max_width_px, padding, $gap, $gap_vw);
        max-height: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        float: none;
        max-width: 100%;
        min-width: 35%;
        flex-direction: column;
    }

    &>.title {
        flex-basis: 100%;
    }

    &>div {
        .title {
            @include adaptive-max-width($adaptive_max_width_px, margin-bottom, $margin_between_blocks_px/2, $margin_between_blocks_vw/2);
            @include adaptive-max-width($adaptive_max_width_px, margin-top, $margin_between_blocks_px/2, $margin_between_blocks_vw/2);
            &:first-child {
                @include adaptive-max-width($adaptive_max_width_px, margin-top, -10px, -2vw)
            }
        }
        >* {
            width: 100%;
        }
    }

    p {
        display: block;
        max-width: 100%;
        margin: auto;
        height: fit-content;
    }

    a {
        color: $orichalc;
        display: inline-block;
        transition: all 0.3s ease;
        &:hover {
            transform: scale(102%);
        }
    }

    &__small {
        max-width: 35%;
        min-width: 20%;
    }

    &_void {
        background: none;
        color: $orichalc;
    }
    
    &__video {
        width: 100%;
        padding: 0;
        max-width: 120vh;
        div {
            position: relative;
            width: 100%;
            height: 0;
            padding-bottom: 56%;
        }
        iframe {
            position:absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
        }
        &_fav {
            @include adaptive-max-width($adaptive_max_width_px, outline, $orichalc solid 10px, $orichalc solid 2vw)
        }
    }
}