@import "zeroing.scss";

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Bold.eot');
	src: local('☺'), url('../fonts/Gilroy-Bold.woff') format('woff'), url('../fonts/Gilroy-Bold.ttf') format('truetype'), url('../fonts/Gilroy-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Medium.eot');
	src: local('☺'), url('../fonts/Gilroy-Medium.woff') format('woff'), url('../fonts/Gilroy-Medium.ttf') format('truetype'), url('../fonts/Gilroy-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

$silver: #F6F6F6;
$grey: #828282;
$black: #070707;
$shadow: rgba(7, 7, 7, 0.1);
$invisible: rgba(7, 7, 7, 0);

$transition: all ease 0.3s;

$side-padding: 30px;
%side-padding {
	padding-left: $side-padding;
	padding-right: $side-padding;
}

%center-width-limit {
	margin: 0 auto;
	width: 100%;
	max-width: 940px;
}
%center-text-limit {
	margin: 0 auto;
	padding: 20px 0;
	max-width: 500px;
	padding-left: $side-padding;
	padding-right: $side-padding;
}

%hover-black{
	text-decoration: underline $invisible;
	transition: $transition;
	// position: relative;
	// &:before{
	// 	content: '';
	// 	width: 100%;
	// 	height: 1px;
	// 	background-color: $black;
	// 	position: absolute;
	// 	left: 0;
	// 	bottom: -5px;
	// }
	&:hover{
		color: $black;
		text-decoration: underline $invisible;
	}
}

.container {
	font-family: 'Gilroy';
	font-weight: 500;
	font-size: 18px;
	color: $black;
	p {
		line-height: 22px;
		text-align: center;
	}
	h1 {
		font-weight: 700;
		font-size: 47px;
		line-height: 59px;
		transition: $transition;
		&:hover{
			transform: scale(1.03); 
		}
	}
}

.navbar {
	position: sticky;
	top: 0;
	background: white;
	z-index: 1;
	font-weight: 700;
	width: 100%;
	padding: 0 $side-padding;
	line-height: 87px;
	ul {
		@extend %center-width-limit;
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid $grey;
		
		li {
			color: $grey;
			&:first-child {
				color: $black;
			}
			a {
				display: flex;
				flex-direction: row;
				@extend %hover-black;
			}
		}
	}
}

.main {
	width: 100%;
	padding: 40px $side-padding;
}
.main-info {
	@extend %center-width-limit;
	display: flex;
	justify-content: space-between;
	p {
		text-align: left;
	}
	>*{
		margin: auto 0 0;
		display: inline-block;
		text-align: left;
	}
	&__language {
		font-weight: 700;
		writing-mode: vertical-lr;
		transform: rotate(180deg);
		text-orientation: mixed;
		>.ru{
			color: $grey;
			@extend %hover-black;
		}
		>.en{
			color: $black;
			@extend %hover-black;
		}
	}
}
.main-image {
	display: block;
	@extend %center-width-limit;
	margin-bottom: 100px;
}

h2 {
	font-size: 34px;
	line-height: 42px;
	text-align: center;
	font-weight: 700;
	padding: 0 $side-padding;
}
.about {
	&:nth-child(even){
		background: $silver;
	}
	padding: 100px 0 100px;
	p {
		@extend %center-text-limit;
	}
	&__programlist {
		padding-left: $side-padding;
		padding-right: $side-padding;
		font-size: 14px;
		line-height: 17px;
		font-weight: 700;
		text-align: center;
		color: $grey;
		display: flex;
		justify-content: space-between;
		@extend %center-width-limit;
		margin-top: 60px;
		width: 100%;
		li {
			margin: 0 30px 0 0;
			&:last-child { margin: 0; }
			display: inline-block;
			width: 166px;
			position: relative;
			>*{
				display: block;
				@extend %center-width-limit;
				&:first-child{
					transition: $transition;
					&:hover{
						transform: scale(1.04); 
					}
				}
				&:nth-child(2){
					display: block;
					margin: 20px auto 60px;
					width: 100%;
					@extend %hover-black;
					transition: $transition;
					&:hover{
						transform: scale(1.04); 
					}
				}
			}
			.stars {
				display: flex;
				justify-content: space-between;
				width: 100%;
				max-width: 166px;
				position: absolute;
				bottom: 0;
				&>*{
					transition: $transition;
					&:hover{
						transform: scale(1.14); 
					}
				}
			}
		}
	}
}

.portfolio-block {
	padding: 50px 0 0;
	>* {
		margin: 0 auto;
	}
	a {
		display: block;
		text-align: center;
		text-decoration: underline;
		line-height: 21px;
		margin: 20px auto 50px;
		@extend %center-text-limit;
		@extend %hover-black;
	}
	a.image {
		@extend %center-width-limit;
		padding: 0;
		overflow: hidden;
		img {
			width: 100%;
			transition: $transition;
			&:hover{
				transform: scale(1.03); 
			}
		}
	}
}

.button {
	@extend %center-text-limit;
	display: block;
	a{
		line-height: 42px;
		border-radius: 21px;
		background-color: $black;
		color: white;
		display: block;
		font-weight: 700;
		padding: 0 $side-padding;
		margin: 0 auto;
		width: fit-content;
		box-shadow: 0 10px 20px $shadow;
		transition: $transition;
		&:hover{
			transform: scale(1.04); 
		}
	}
}

.contacts-icons {
	width: 100%;
	margin: 100px 0 0 0;
	ul {
		margin: 0 auto;
		width: 100%;
		max-width: 342px; //children count * 60px + each child width
		display: block;

		display: flex;
		justify-content: space-between;
		flex-grow: 60px;
		
		li {
			display: inline-block;
			width: fit-content;
			transition: $transition;
			&:hover{
				transform: scale(1.05); 
			}
		}
	}
}

p.signature {
	padding: 60px 0 0 0;
	margin: auto;
	display: block;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: $grey;
	a{
		padding: 0 0 20px 0;
		&:last-child { padding: 0; }
		display: block;
		@extend %hover-black;
	}
}

