*desktop.ini
test/*
tec/*
*.jpg~
*.png~
*.kra~

mystic_world/*
bed_edition/*
bed_edition/Alpha/*
unstoppable_survival/unstop fix.html
shop/Сайт расценки.docx
minecraft/advance_pack/*
archive/Шарф батик/*
college/kants_tovari/*
college/partition/*
color_theory/*

college/*
college/3d/*
college/bionics/*
