*desktop.ini
test/*

mystic_world/*
bed_edition/*
bed_edition/Alpha/*
unstoppable_survival/unstop fix.html
college/bionics/*
shop/Сайт расценки.docx
minecraft/advance_pack/*
archive/Шарф батик/*
college/kants_tovari/*
college/partition/*
color_theory/*