@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #1E1E39;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    color: #1E1E39;
    text-align: justify;
}

.container h1 {
    font-size: 2.8rem;
    color: #FF953C;
    letter-spacing: 0.9rem;
    text-align: center;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 20px;
    overflow: hidden;
}

.container a {
    text-decoration: none;
}

/* Top-picture */
.top-picture {
    text-align: center;
    background-size: 100%;
    background-color: transparent;
    /*background-position: center;*/
    background-position-y: top;
    background-attachment: fixed;
    align-items: center;
    min-height: 25vh;
}
.top-picture img {
    align-items: center;
    padding: 90px 0px;
    flex-direction: column; /* Эта штука позволяет растянуть картинку во всей высоте */
    padding: rem;
    max-width: 50%;
}
.top-picture a {
    align-items: center;
    padding: 40px 0px;
    flex-direction: column;
    padding: rem;
}
.top-picture h1 {
    align-items: center;
    padding: 90px 0px;
    flex-direction: column;
    padding: rem;
    color: #E8E8EB;
}

/* Пустое пространство */
.continuation {
    height: 1024px;
    text-align: center;
    color: #E8E8EB;
    background: none;
}

/* Navbar */
.navbar-thickness {
    background: #FF953C;
    height: 40px;
}
.navbar {
    background: #FF953C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    position: sticky; /* sticky делает так что пока элемент не достигнет определённого расстояния от верха он будет двигаться */
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
    overflow: visible;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    font-style: normal;
    font-weight: 700;
}
.navbar li {
    display:block;
}
.navbar a {
    display:block;
    background: #FF953C;
    color: inherit;
    text-decoration: none;
}
    /*Отступы для кнопок с текстом но не для картинок*/
.navbar ul.gap li a,
.navbar > ul li ul li a  {
    padding: 12px 2rem;
}
.navbar a:hover {
    color: #E8E8EB;
    transition: all 0.3s ease;
}
.navbar > ul {
    display: flex;
    justify-content: center;
    padding: 0 2rem;
}
.navbar li ul {
    position: absolute;
    display: none;
    min-width: 200px;
}
    /*Под-под пункты*/
.navbar li > ul li ul {
    right:-70%;
    top: -50;
}
.navbar li:hover > ul {
    display: block;
} 
.navbar img {
    align-items: center;
    display: flex;
    flex-direction: column; /* по всей высоте */
    width: 50px; 
    height: 50px; 
    padding: 0.6rem;
}
.navbar img:hover {
    background: #E8E8EB;
    transition: all 0.3s ease;
}

/* Доп. расстояние между блоками */
.content-gap {
    background: none;
    height: 40px;
}

/* Картинка во всю ширину */
.content {
    display: flex;
    justify-content: center;
    background: #E8E8EB;
    font-style: italic;
    font-weight: 400;
    padding: 0px;
    margin: 0 auto; 
    max-width: 1240px;
}
.content img {
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 0 auto; 
    width: 100%;
}

/* QOTE - Блоки с текстом */
.qote {
    display: flex;
    justify-content: center;
    background: #E8E8EB;
    font-style: italic;
    font-weight: 400;
    padding: 50px;
    margin: 0 auto; /* auto - значит по центру */
    max-width: 1240px;
}
.void {
    background: none;
    color: #FF953C;
    padding: 25px 50px 50px 50px;
}
.qote p {
    max-width: 1024px;
    margin: 0 auto;

}
.qote a {
    color: #FF953C;
    font-style: italic;
    font-weight: 400;
    text-decoration:#FF953C;
}
.qote div {
    max-width: 1024px;
    margin: auto auto auto auto;
    display: flex;
    align-items: center;
    list-style: none;
}
.qote li {
    padding: 20px;
    max-height: 100%;
    margin: auto auto auto auto;
    display: flex;
    align-items: center;
    list-style: none;

    float: none;
    max-width: 100%;
    min-width: 35%;
    flex-direction: column;
}
.qote .small {
    max-width: 35%;
    min-width: 20%;
}
.qote li img {
    max-height: 100%;
    max-width: 100%;
    min-height: 100%;
    min-width: 100%;
}

/* Видео */
.video {
    display: flex;
    justify-content: center;
    font-style: italic;
    font-weight: 400;
    padding: 0px 50px 0px 50px;
    margin: 0 auto; /* auto - значит по центру */
    max-width: 1240px;
    color:#FF953C;
}
.video div {
    max-width: 1024px;
    margin: auto auto auto auto;
    display: flex;
    align-items: center;
    list-style: none;
    min-width: 100%;
}
.video li {
    max-height: 100%;
    padding: 20px;
    margin: auto auto auto auto;
    display: flex;
    align-items: center;
    list-style: none;

    float: none;
    max-width: 100%;
    min-width: 50%;
    flex-direction: column;
}
.video li iframe {
    max-height: 100%;
    max-width: 100%;
    min-height: 100%;
    min-width: 100%;
}

/* Кнопки */
.button {
    max-width: 1024px;
    position: relative;
    margin: 0 auto;
    bottom: 7px;
    text-align: center;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.button a {
    color: #1E1E39;
    text-decoration: none;
    background: #FF953C;
    padding: 1.3em 2em;
    outline: none;
    margin: auto 1em 1em auto;
    float:right;
}
.button a:hover { 
    color: #E8E8EB;
    transition: all 0.3s ease;
}

/* Проект (на главной странице описание с картинками и кнопками) */
.project {
    display: flex;
    justify-content: center;
    padding: 0px 20px;
    max-width: 1024px;
    margin: 0 auto;
}
.project p {
    font-style: italic;
    font-weight: 400;
    color: #FF953C;
    padding-bottom: 20px;
}
.project div {
    margin: auto auto auto auto;
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0px 20px;
}
.project div.image {
    max-width: 34%;
    padding: 0px 0px;
}
.project img {
    max-height: 100%;
    max-width: 100%;
    min-height: 100%;
    min-width: 100%;
}

/* Слайдер */
.slider {
    max-width: 1240px;
    width: 100%;
    margin: auto auto;
    overflow: hidden;
    max-height: auto;
    height: auto;
}
.slider-container {
    display: flex;
    max-height: auto;
    height: auto;
    transition: all ease 1s;
}
.slider-container img {
    width: 100%;
    min-width: 100%;
    max-width: 1240px;
    height: 100%;
    max-height: auto;
    margin: auto;
}
.slider-button img {
    transition: all ease 0.3s;
    height: 10vw;
    display: block;
    position: relative;
    padding: 0px;
    margin: 0;
    filter: invert(67%) sepia(25%) saturate(1982%) hue-rotate(332deg) brightness(104%) contrast(101%);
}
.slider-button .slider-next {
    float: right;
    right: 20px;
}
.slider-button .slider-prev {
    float: left;
    left: 20px;
}
.slider-button img:hover {
    filter: invert(92%) sepia(25%) saturate(0%) hue-rotate(332deg) brightness(92%) contrast(101%);
}

/* To-do */
.todo {
    display: flex;
    font-style: italic;
    font-weight: 400;
    color:#FF953C;
    margin: 0 auto;
    max-width: 1124px;
}
.todo p {
    margin: auto 0;
    padding-left: 50px;
    padding-right: 50px;
}
.todo svg {
    height: 90px;
    width: 90px;
    min-width: 90px;
    min-height: 90px;
}
.todo-button {
    display: inline-block;
    height: 70px;
    width: 70px;
    margin: auto 0;
    stroke:#FF953C;
    fill:transparent;
    stroke-width: 9px;
    stroke-linecap: butt;
    stroke-dasharray: 0;
}

/* Progress Bar */
.progress-bar {
    background-color:#1E1E39;
    color:#E8E8EB;
    margin: 0 auto;
    min-width: 100%;
    max-width: 1240px;
    min-height: 40px;
    padding: 0px;
}
.progress-bar div {
    background-color:#FF953C;
    min-height: 100%;
    margin: 0 0;
    justify-content: center;
}
.progress-bar p {
    position: relative;
    top: -32px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1240px;
}

/* Список из заголовков. Картинка - заголовок - кнопка - описание */
.header-list {
    width: fit-content;
    max-width: 1240px;
    margin: 50px auto;
}
.header-list a {
    max-width: 1240px;
    margin: 50px auto;
    display: flex;
}
.header-list div{
    display:block;
    padding: 0 50px;
}
.header-list a.button {
    color: #1E1E39;
    text-decoration: none;
    background: #FF953C;
    padding: 1.3em 2em;
    outline: none;
    margin: 0 50px auto 0;
    float:right;
}
.header-list a:hover { 
    color: #E8E8EB;
    transition: all 0.3s ease;
}
.header-list h1 {
    font-size: 2.8rem;
    color: #FF953C;
    letter-spacing: 0.9rem;
    text-align: left;
    margin: auto;
    padding: 0px;
    overflow: hidden;
}
.header-list img {
    height: 100px;
    width: 100px;
    margin-left: 50px;
}
.header-list p {
    width: 100%;
    margin: 20px 0 0 0;
    color: #FF953C;
    font-style: italic;
    font-weight: 400;
}

@media screen and (max-width: 874px) {
    .navbar > ul {
        display: flex;
        justify-content: center;
        padding: 10px;
    }
    .navbar ul.gap li a,
    .navbar > ul li ul li a  {
        padding: 2vw 3vw;
    }
}

@media screen and (max-width: 682px) {

    .navbar {
        float: none;
        width: 100%;
        flex-direction: column;

        align-items: center;
        height: 256px;
        padding: 0rem;

        position: relative;
        position: -webkit-relative;
    }

    .navbar ul {
      padding: 0rem;
    }

    .navbar a.gap {
        padding: 0.5rem;
    }

    .qote div{
        float: none;
        width: 100%;
        flex-direction: column;
    }

    .qote .small {
        max-width: 70%;
        min-width: 50%;
    }

    .video {
        padding: 0px 0px 0px 0px;
    }
    .video div{
        float: none;
        width: 100%;
        flex-direction: column;
    }

    .project {
        float: none;
        width: 100%;
        flex-direction: column;
    }

    .button {
        display: flex;
        max-width: 100%;
        float: none;
        flex-direction:column-reverse;
        bottom: 21px;
    }

    .header-list img {
        margin: 0 auto 20px auto;
        justify-content: center;
        align-items: center;
    }
    .header-list a {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .header-list h1 {
        text-align: center;
    }
}

@media screen and (max-height: 500px) {
    .navbar {
        position: relative;
        position: -webkit-relative;
    }
}

@media screen and (max-width: 500px) {
    .container h1 {
        font-size: 7vw;
        letter-spacing: 0.4rem;
    }
    .todo {
        float: none;
        width: 100%;
        flex-direction: column;
    }
    body {
        font-size: 4vw;
    }

    .content-gap {
        height: 8vw;
    }

    .top-picture img {
        padding: 18vw 0px;
    }
    .top-picture a {
        padding: 8vw 0px;
    }
    .top-picture h1 {
        padding: 18vw 0px;
    }

    /* Navbar */
    .navbar-thickness {
        height: 8vw;
    }
    .navbar {
        height: 51.2vw;
    }
    .navbar ul.gap li a,
    .navbar > ul li ul li a  {
        padding: 2.4vw 4.5vw;
    }
    .navbar li ul {
        min-width: 200px;
    }
    .navbar img {
        width: 10vw; 
        height: 10vw; 
        padding: 1.8vw;
    }
    .navbar a.gap {
        padding: 1.5vw;
    }

    /* QOTE - Блоки с текстом */
    .qote {
        padding: 10vw;
    }
    .void {
        padding: 5vw 10vw 10vw 10vw;
    }
    .qote li {
        padding: 4vw;
    }

    /* Кнопки */
    .button {
        bottom: 4vw;
    }
    .button a {
        padding: 4vw 6vw;
        margin: auto 3vw 3vw auto;
    }

    /* Проект (на главной странице описание с картинками и кнопками) */
    .project {
        padding: 0px 4vw;
    }
    .project p {
        padding-bottom: 4vw;
    }
    .project div {
        padding: 0px 4vw;
    }

    /* Список из заголовков. Картинка - заголовок - кнопка - описание */
    .header-list {
        margin: 10vw auto;
        max-width: 100%;
    }
    .header-list a {
        margin: 10vw auto;
    }
    .header-list div{
        padding: 0 10vw;
    }
    .header-list a.button {
        padding: 4vw 6vw;
        margin: 0 10vw auto 0;
    }
    .header-list h1 {
        font-size: 7vw;
        letter-spacing: 0.4rem;
    }
    .header-list img {
        margin: 0 auto 4vw auto;
        height: 20vw;
        width: 20vw;
    }
    .header-list p {
        margin: 4vw 0 0 0;
    }
}