.buttons {
    user-select: none;
    &_block{
        max-width: $page_content_max_width;
        @extend %margin-block;
        @include adaptive-max-width($adaptive_max_width_px, margin, -40px - $margin_between_blocks_px auto $margin_between_blocks_px, -8vw - $margin_between_blocks_vw 0 $margin_between_blocks_vw);
    }
    display: block;
    text-align: center;
    font-weight: 700;
    a {
        display: inline-block;
        max-width: fit-content;
        color: $cobalt;
        background: $orichalc;
        @include adaptive-max-width($adaptive_max_width_px, padding, 25px 40px, 4vw 6vw);
        @include adaptive-max-width($adaptive_max_width_px, margin, 10px, 2vw);
        transition: all 0.3s ease;
        &:hover { 
            color: $cobalt_milky;
            transform: scale(102%);
        }
    }
}