.cards {
    max-width: $page_content_max_width + $padding_inside_screen_borders_px*2;
    @include adaptive-max-width($adaptive_max_width_px, margin, $margin_between_blocks_px auto, $margin_between_blocks_vw auto);
    @include adaptive-max-width(600px, padding, 0 $padding_inside_screen_borders_px/2, 0); //Делим на 2, Потомучто другая половина в element
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    color: $cobalt;
    
    &__element {
        flex-basis: 50%;
        flex-grow: 0;
        padding: 0 $padding_inside_screen_borders_px/2;
        @include adaptive-max-width(600px, margin-bottom, 20px, 4vw);
        @media screen and (min-width: 1000px) {
            &:last-child, &:nth-last-child(2){
                margin-bottom: 0;
            }
        }
        @media screen and (max-width: 1000px) {
            flex-basis: 100%;
            padding: 0;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__card {
        background-color: $cobalt_milky;
        @include adaptive-max-width($adaptive_max_width_px, padding, 30px 0 40px, 6vw 0 5vw);
        width: 100%;
        max-width: 100%;
        height: calc(100% - 60px); //минус высота кнопки
        @extend %text_fz;

        p {
            @include adaptive-max-width($adaptive_max_width_px, padding, 0 $padding_inside_screen_borders_px, 0 $padding_inside_screen_borders_vw);
            @include adaptive-max-width($adaptive_max_width_px, margin, 20px auto 30px, 3vw auto 4vw);
        }
        a {
            display: inline-block;
            color: $orichalc;
            transition: all 0.3s ease;
            &:hover {
                transform: scale(102%);
            }
        }
        @media screen and (max-width: 1000px) {
            height: auto;
        }
    }

    .buttons {
        @include adaptive-max-width($adaptive_max_width_px, margin, -15px auto 0, -2vw auto 0);
    }
    
    .title {
        border-bottom: #1E1E39 solid 2px;
        width: fit-content;
        max-width: 100%;
        @include adaptive-max-width($adaptive_max_width_px, margin, 0 auto $margin_between_blocks_px/2, 0 auto $margin_between_blocks_vw/2);
    }

    img {
        display: block;
        max-width: 100%;
        max-height: 45vh;
        object-fit: cover;
        width: 100%;
    }    
}