.stickers {
    display: flex;
    flex-wrap: wrap;
    @extend %margin-block;
    justify-content: center;

    img {
        width: 10px;
        flex-basis: 25%;

        @media screen and (max-width: 1000px) {
            flex-basis: 33.33%;
        }
        @media screen and (max-width: 700px) {
            flex-basis: 50%;
        }
        @media screen and (max-width: 400px) {
            flex-basis: 70%;
        }
        @media screen and (max-width: 250px) {
            flex-basis: 100%;
        }
    }
}