// overflow: scroll; overflow: auto;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import "zeroing.scss";

// Colors
$cobalt_milky: #E8E8EB;
$orichalc: #FF953C;
$cobalt: #1E1E39;
$invisible: rgba(7, 7, 7, 0);

// Отступы
$window_max_width: 1240px;

$window_padding: 80px;
$window_padding_vw: 8vw;

$margin_between_blocks: 40px;
$margin_between_blocks_vw: 4vw;

%margin-block {
    display: block;
    margin: $margin_between_blocks/2 auto $margin_between_blocks;
    width: 100%;
    max-width: $window_max_width + $window_padding*2;
    padding-left: $window_padding;
    padding-right: $window_padding;
    overflow: hidden;
    @media screen and (max-width: 800px) {
        padding-left: $window_padding_vw;
        padding-right: $window_padding_vw;
        margin: $margin_between_blocks_vw/2 auto $margin_between_blocks_vw;
    }
}

// Adaptive mixins
@mixin w800($property, $px, $vw) {
    #{$property}: $px;
    @media screen and (max-width: 800px) {
        #{$property}: $vw;
    }
}
@mixin w600($property, $px, $vw) {
    #{$property}: $px;
    @media screen and (max-width: 600px) {
        #{$property}: $vw;
    }
}
@mixin h800($property, $px, $vh) {
    #{$property}: $px;
    @media screen and (max-height: 800px) {
        #{$property}: $vh;
    }
}

// Font sizes
$header_fz: 50px;
$header_fz_vw: 6vw;
%header_fz {
    font-size: $header_fz;
    @media screen and (max-width: 800px) {
        font-size: $header_fz_vw;
    }
}
$title_fz: 30px;
$title_fz_vw: 4vw;
%title_fz {
    font-size: $title_fz;
    @media screen and (max-width: 800px) {
        font-size: $title_fz_vw;
    }
}
$marquee_fz: 25px;
$marquee_fz_vw: 3.5vw;
%marquee_fz {
    font-size: $marquee_fz;
    @media screen and (max-width: 800px) {
        font-size: $marquee_fz_vw;
    }
}
$text_fz: 18px;
$text_fz_vw: 3.2vw;
%text_fz {
    font-size: $text_fz;
    @media screen and (max-width: 600px) {
        font-size: $text_fz_vw;
    }
}
// $notes_fz: 14px;
// $notes_fz_vw: 1.8vw;
// %notes_fz {
//     font-size: $notes_fz;
//     @media screen and (max-width: 800px) {
//         font-size: $notes_fz_vw;
//     }
// }

html, body {
    background-color: $cobalt;
    font-family: 'Montserrat', sans-serif;
    @extend %text_fz;
    font-style: normal;
    font-weight: 400;
    color: red;
    text-align: justify;
    line-height: 1.4;

    background-image: url("/img/navigation/bg_vector.svg");
    background-position: top;
    background-repeat: repeat-y;
    background-size: 120vw;
}

.buttons {
    user-select: none;
    &_block{
        max-width: $window_max_width;
        @extend %margin-block;
        @include w800(margin, -40px - $margin_between_blocks auto $margin_between_blocks, -8vw - $margin_between_blocks_vw 0 $margin_between_blocks_vw);
    }
    display: block;
    text-align: center;
    font-weight: 700;
    a {
        display: inline-block;
        max-width: fit-content;
        color: $cobalt;
        background: $orichalc;
        @include w800(padding, 25px 40px, 4vw 6vw);
        @include w800(margin, 10px, 2vw);
        &:hover { 
            color: $cobalt_milky;
            transition: all 0.3s ease;
        }
    }
}

.cards {
    max-width: $window_max_width + $window_padding*2;
    @include w800(margin, $margin_between_blocks auto, $margin_between_blocks_vw auto);
    @include w600(padding, 0 $window_padding/2, 0); //Делим на 2, Потомучто другая половина в element
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    color: $cobalt;
    
    &__element {
        flex-basis: 50%;
        flex-grow: 0;
        padding: 0 $window_padding/2;
        @include w600(margin-bottom, 20px, 4vw);
        @media screen and (min-width: 1000px) {
            &:last-child, &:nth-last-child(2){
                margin-bottom: 0;
            }
        }
        @media screen and (max-width: 1000px) {
            flex-basis: 100%;
            padding: 0;
            &:last-child {
                margin-bottom: 0;
            }
        }

    }
    &__card {
        background-color: $cobalt_milky;
        @include w800(padding, 30px 0 40px, 6vw 0 5vw);
        width: 100%;
        max-width: 100%;
        height: calc(100% - 60px); //минус высота кнопки
        @extend %text_fz;

        p {
            @include w800(padding, 0 $window_padding, 0 $window_padding_vw);
            @include w800(margin, 20px auto 30px, 3vw auto 4vw);
        }
        a {
            color: #FF953C;
        }
        @media screen and (max-width: 1000px) {
            height: auto;
        }
    }
    .buttons {
        @include w800(margin, -15px auto 0, -2vw auto 0);
    }
    .title {
        border-bottom: #1E1E39 solid 2px;
        width: fit-content;
        max-width: 100%;
        // margin: 0 auto 20px;
        @include w800(margin, 0 auto $margin_between_blocks/2, 0 auto $margin_between_blocks_vw/2);
        // line-height: $title_fz + 2px;
        // @media screen and (max-width: 1000px) {
        //     line-height: $title_fz_vw + 0.2vw;
        // }
    }

    img {
        display: block;
        max-width: 100%;
        max-height: 45vh;
        object-fit: cover;
        width: 100%;
    }    
}

.continuation {
    height: 1024px;
    text-align: center;
    color: $cobalt_milky;
    background: none;
}

.header {
    color: $orichalc;
    line-height: 1.4;
    font-weight: 700;
    letter-spacing: 0.9rem;
    @extend %header_fz;
}

.header-block {
    @extend %margin-block;
    max-width: $window_max_width;
    padding: 0;
    border-top: 3px $orichalc solid;
    border-bottom: 3px $orichalc solid;
    text-align: center;
    &__line {
        height: 19px;
        border-bottom: 3px $orichalc solid;
    }
    h1,h2{
        @include w800(padding, 15px $window_padding, 2vw $window_padding_vw);
    }
}

.header-list {
    text-align: left;
    @extend %margin-block;
    width: fit-content;
    @media screen and (max-width: $window_max_width) {
        max-width: 100%;
    }
    a {
        max-width: inherit;
        @include w800(margin, $margin_between_blocks auto, $margin_between_blocks_vw auto);
        display: flex;
        &:first-child {
            margin-top: 0;
        }
    }
    div {
        display:block;
        @include w800(padding, 0 0 0 40px, 0 0 0 5vw);
    }
    img {
        @include w800(height, 100px, 13vw);
        @include w800(width, 100px, 13vw);
        object-fit: contain;
        align-self: center;
    }
    p {
        width: 100%;
        margin: 5px 0 0 0;
        color: #FF953C;
        font-style: italic;
        font-weight: 400;
    }
}

// Marquee
@keyframes scroll {
    0% {
        transform: translate(-100%, 0);
    }
    100% {
        transform: translate(0, 0)
    }
}
.marquee {
    display: block;
    width: 100%;
    max-width: $window_max_width;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    font-style: italic;
    font-weight: 700;
    @extend %marquee_fz;
    text-align: right;
    color: $orichalc;
    p {
        display: inline-block;
        animation: scroll 60s infinite linear;
        padding-left: 100%;

        a::after {
            @include w800(padding, 0 30px, 0 4vw);
            content: "|";
        }
    }
}

.mishamol-title {
    position: relative;
    h1 {
        position: absolute;
        @include w800(font-size, 70px, 10vw);
        overflow: hidden;
        // @include w800(line-height, 70px, 80vw);
        color: $invisible;
        display: block;
        height: 100%;
        width: 100%;
        text-align: center;
    }
    img {
        display: block;
        @include w800 (height, 70px, 20vw);
        width: 100%;
        max-width: $window_max_width;
        @include w800 (padding, 0 $window_padding, 0 $window_padding_vw);
        @include w800(margin, $window_padding auto, $window_padding_vw auto);
    }
}

.navbar {
    background: #FF953C;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // position: sticky;
    @include w600(position, sticky, relative);
    @include h800(position, sticky, relative);
    top: 0;
    z-index: 1;
    overflow: visible;
    font-style: normal;
    font-weight: 700;
    color: $cobalt;
    @extend %text_fz;
    user-select: none;

    &__burger {
        display: none;
    }

    @media screen and (max-width: 600px) {
        // &__m {
        //     display: none;
        // }
        // &__burger {
        //     display: block;
        //     &:hover + .navbar__content {
        //         display: block;
        //         background: none;
        //     }
        // }
        // position: fixed;
        top: 0;
        width: 100%;
        height: fit-content;
        text-align: center;
        // display: none;
        // display: block;

        flex-direction: column;

        .navbar__content {
            flex-direction: column;
            // display: none;
        }
        &__pages {
            flex-direction: column;
        }
    }

    &__content{
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        width: 100%;
        max-width: $window_max_width;
        img {
            &:hover {
                background: $cobalt_milky;
                transition: all 0.3s ease;
            }
        }
    }
    &__group {
        display: flex;
        justify-content: center;
    }
    //Первый уровень
    &__pages { 
        display: flex;
        justify-content: center;
        padding: 0 20px;
        // width: 100%;
        > li {
            display:block;
            padding: 12px 20px;
            //Второй уровень
            > ul { 
                position: absolute;
                // margin: auto;
                // right: 50%;
                // left: 0%;
                display: none;
                // min-width: 200px;
                > li a {
                    padding: 12px 20px;
                }
            }
            &:hover > ul {
                display: block;
            }
        }
        a {
            display:block;
            background: $orichalc;
            color: inherit;
            text-decoration: none;
            &:hover {
                color: $cobalt_milky;
                transition: all 0.3s ease;
            }
        }
    }
    img {
        align-items: center;
        display: flex;
        flex-direction: column; /* по всей высоте */
        @include w600(width, 50px, 10vw);
        @include w600(height, 50px, 10vw);
        padding: 0.6rem;
    }
}

.project {
    display: flex;
    justify-content: center;
    padding: 0px 20px;
    max-width: 1024px;
    margin: 0 auto;
    p {
        font-style: italic;
        font-weight: 400;
        color: #FF953C;
        padding-bottom: 20px;
    }
    div {
        margin: auto auto auto auto;
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0px 20px;
        &.image {
            max-width: 34%;
            padding: 0px 0px;
        }
    }
    img {
        max-height: 100%;
        max-width: 100%;
        min-height: 100%;
        min-width: 100%;
    }
}

.progress-bar {
    background-color:#1E1E39;
    color:$cobalt_milky;
    margin: 0 auto;
    min-width: 100%;
    max-width: 1240px;
    min-height: 40px;
    padding: 0px;
    div {
        background-color:#FF953C;
        min-height: 100%;
        margin: 0 0;
        justify-content: center;
    }
    p {
        position: relative;
        top: -32px;
        padding-left: 20px;
        padding-right: 20px;
        max-width: 1240px;
    }
    
}

.slider {
    position: relative;
    padding: 0;
    &_block {
        @extend %margin-block;
        padding: 0;
        // max-width: $window_max_width;
        max-width: $window_max_width + 230px;
        .slider__container > img {
            max-height: 90vh;
        }
        .slider__window {
            max-width: $window_max_width; // Уник
            margin: auto; // Уник
        }
    }
    &__window {
        display: block;
        overflow: hidden;
        max-height: inherit;
        height: 100%;
    }
    &__container {
        display: flex;
        transition: all ease 1s;
        max-height: inherit;
        height: 100%;
        &>* {
            align-self: center;
            width: 100%;
            min-width: 100%;
            height: 100%;
            max-height: inherit;
            min-height: 100%;
            object-fit: contain;
            margin: auto;
            &>.buttons_block{
                margin-bottom: 0;
            }
            &>.title_block{
                margin-top: 0;
            }
        }
        .qote {
            margin-top: 0;
        }
    }
    &__button {
        user-select: none;
        height: 0;
        position: absolute;
        width: 100%;
        img {
            transition: all ease 0.3s;
            height: 10vw;
            display: block;
            position: relative;
            padding: 0px;
            margin: 0;
            filter: invert(67%) sepia(25%) saturate(1982%) hue-rotate(332deg) brightness(104%) contrast(101%);
            &:hover {
                filter: invert(92%) sepia(25%) saturate(0%) hue-rotate(332deg) brightness(85%) contrast(101%);
            }
        }
        &_next {
            float: right;
            @include w800(right, 20px, 3vw);
        }
        &_prev {
            float: left;
            @include w800(left, 20px, 3vw);
        }
    }
}

.title {
    @extend %title_fz;
    text-align: center;
    &_block {
        color: $orichalc;
        width: fit-content;
        overflow: hidden;
        @extend %margin-block;
        @include w800(margin, $margin_between_blocks auto $margin_between_blocks/2, $margin_between_blocks_vw auto $margin_between_blocks_vw/2);
    }
}

.test {
    display: block;
    margin: 0;
    padding: 0;
    width: 500px;
    height: 500px;
    background-color: rosybrown;
}

.top-picture {
    display: block;
    text-align: center;
    background-size: 100%;
    background-position: top;
    background-attachment: fixed;
    height: 35vh;
    max-height: 35vh;
    img {
        margin: 0 auto;
        padding: 12vh $window_padding;
        width: 100%; 
        max-width: 100%;
        height: 100%;
        max-height: 100%;
    }
    a {
        align-items: center;
        padding: 40px 0px;
        flex-direction: column;
        padding: rem;
    }
    h1 {
        align-items: center;
        padding: 90px 0px;
        flex-direction: column;
        padding: rem;
        color: #E8E8EB;
    }
}

.qote {
    $gap: 30px;
    $gap_vw: 4vw;
    // gap: 40px;
    display: flex;
    justify-content: center;
    background: $cobalt_milky;
    font-style: italic;
    font-weight: 400;
    color: $cobalt;
    @include w800(padding, 45px - $gap $window_padding - $gap 60px - $gap, calc(7vw - $gap_vw) calc($window_padding_vw - $gap_vw) calc(10vw - $gap_vw));
    @extend %margin-block;
    max-width: $window_max_width;
    @media screen and (max-width: 800px) {
        flex-wrap: wrap;
        img {
            max-height: 45vh;
        }
    }
    &>* {
        @include w800(padding, $gap, $gap_vw);
        max-height: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        float: none;
        max-width: 100%;
        min-width: 35%;
        flex-direction: column;
    }
    &>.title {
        flex-basis: 100%;
    }
    &>div {
        .title {
            @include w800(margin-bottom, $margin_between_blocks/2, $margin_between_blocks_vw/2);
            @include w800(margin-top, $margin_between_blocks/2, $margin_between_blocks_vw/2);
            &:first-child {
                @include w800(margin-top, -10px, -2vw)
            }
        }
        >* {
            width: 100%;
        }
    }
    p {
        display: block;
        max-width: 100%;
        margin: auto;
        height: fit-content;
    }
    a {
        color: #FF953C;
    }
    &__small {
        max-width: 35%;
        min-width: 20%;
    }
    &_void {
        background: none;
        color: #FF953C;
        // padding: 0 $window_padding 0;
        // padding-bottom: 0;
    }
    &__video {
        width: 100%;
        padding: 0;
        max-width: 120vh;
        div {
            position: relative;
            width: 100%;
            height: 0;
            padding-bottom: 56%;
        }
        iframe {
            position:absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
        }
        &_fav {
            @include w800(outline, $orichalc solid 10px, $orichalc solid 2vw)
        }
    }
}