%base-background {
	height: 212px;
	z-index: 2;
	position: relative;

	pointer-events: none;

	>* {
		pointer-events: all;
	}
}


.background_pale {
	@extend %base-background;
	background-color: #FF8652;
}

.background_orange {
	@extend %base-background;
	background-color: #FF612F;

}

.background_blue {
	@extend %base-background;
	background-color: #292B3E;

}

.background_transparent {
	@extend %base-background;
	background-color: #00000000;

}

.background_orange_pale_down {
	@extend %base-background;
	background: linear-gradient(to top right, #FF612F 50%, #FF8652 50%);

}

.background_blue_orange_down {
	@extend %base-background;
	background: linear-gradient(to top right, #292B3E 50%, #FF612F 50%);

}

.background_blue_orange_up {
	@extend %base-background;
	background: linear-gradient(to bottom right, #292B3E 50%, #FF612F 50%);

}

.background_blue_pale_up {
	@extend %base-background;
	background: linear-gradient(to bottom right, #292B3E 50%, #FF8652 50%);

}

.background_blue_pale_down {
	@extend %base-background;
	background: linear-gradient(to top right, #292B3E 50%, #FF8652 50%);

}





.background_blue_transparent_up {
	@extend %base-background;
	background: linear-gradient(to bottom right, #292B3E 50%, #00000000 50%);

}

.background_blue_transparent_down {
	@extend %base-background;
	background: linear-gradient(to top right, #292B3E 50%, #00000000 50%);

}

.background_orange_transparent_up {
	@extend %base-background;
	background: linear-gradient(to bottom right, #FF612F 50%, #00000000 50%);

}

.background_orange_transparent_down {
	@extend %base-background;
	background: linear-gradient(to top right, #FF612F 50%, #00000000 50%);

}

.background_pale_transparent_up {
	@extend %base-background;
	background: linear-gradient(to bottom right, #FF8652 50%, #00000000 50%);

}

.background_pale_transparent_down {
	@extend %base-background;
	background: linear-gradient(to top right, #FF8652 50%, #00000000 50%);

}

.background_transparent_orange_up {
	@extend %base-background;
	background: linear-gradient(to bottom right, #00000000 50%, #FF612F 50%);
}


// .background_blue_left {
// 	height: 0px;
// 	width: 100%;
// 	margin: -212px, 0 -212px, 0;
// 	// top: -212px;
// 	// bottom: -212px;
// 	position: relative;

// 	>div {
// 		max-width: 720px;
// 		margin: auto;
// 		height: 424px;

// 	}
// }




.mask_transparent_up {
	@extend %base-background;
	mask-image: linear-gradient(to bottom right, #FFFFFF 50%, #00000000 50%);
	mask-clip: padding-box;
	pointer-events: none;
}

.mask_transparent_down {
	@extend %base-background;
	mask-image: linear-gradient(to top right, #FFFFFF 50%, #00000000 50%);
	mask-clip: padding-box;
	pointer-events: none;
}

.transparent_mask_up {
	@extend %base-background;
	mask-image: linear-gradient(to bottom right, #00000000 50%, #FFFFFF 50%);
	mask-clip: padding-box;
	pointer-events: none;
}

.transparent_mask_down {
	@extend %base-background;
	mask-image: linear-gradient(to top right, #00000000 50%, #FFFFFF 50%);
	mask-clip: padding-box;
	pointer-events: none;
}






.panorame {
	position: relative;
	height: 0px;
	top: -212px;
	pointer-events: none;

	&_round {
		flex-grow: 0; //^ Self in _container
		display: block;
		text-align: right;
		margin: 28px 46px 28px auto;

		position: relative;
		bottom: -40px;
		z-index: 2;
		pointer-events: none;

		&_icon {
			display: inline-block;
			width: 64px;
			height: 64px;
			margin: 0;
			transition: transform 0.3s ease-in-out;

			pointer-events: all;

			&:hover {
				transform: scale(1.1);
			}

			& img {
				width: 100%;
				height: 100%;
				object-fit: fill;
			}
		}

		a {
			display: inline-block;
			width: auto;
			height: auto;
			margin-left: 8px;
			padding: 0;
		}
	}

}

.panorame_up {
	position: relative;
	// top: 0;
	@extend %base-background;
	width: 100%;
	z-index: 2;

	>.panorame_image {
		height: 424px;
		width: 100%;
		object-fit: cover;
		pointer-events: none;
	}
}

.panorame_down {
	position: absolute;
	@extend %base-background;
	width: 100%;
	z-index: 2;

	>.panorame_image {
		height: 424px;
		width: 100%;
		position: absolute;
		bottom: 0;
		object-fit: cover;
		pointer-events: none;
	}
}