.button {
	background-color: #FFFFFF;
	color: #292B3E;
	padding:var(--2px) var(--40px) var(--12px);
	border: none;
	border-radius: var(--64px);
	cursor: pointer;
	font-size: var(--50px);
	transition: transform 0.3s ease-in-out;
	white-space: nowrap;

	&.active {
		background-color: #292B3E;
		color: #FFFFFF;
	}

	&:hover {
		transform: scale(1.1);
		background-color: #FF3D00;
		color: #FFFFFF;
	}
}