@font-face {
	font-family: 'MishamolPuffedBun2-Regular';
	src: url('fonts/MishamolPuffedBun2-Regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
  }
  
  body {
	font-family: 'MishamolPuffedBun2-Regular', sans-serif;
	font-size: 50px;
	color: #FFFFFF;
  }

  ::selection {
    background: #FF3D00;
    color: #fff;
   }