.confetti-button{
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	 margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
  }
  
  .header { 
	width: 100%;
	text-allign: Center;
	position: fixed;
	background-color: rgb(40,40,40);
	color: white;
  }
  
  .progress-bar {
	height: .5rem;
	width: 0%;
	position: fixed;
	background-color: hotpink;
  }
  .hero1 {
	  background-image: url("https://images.unsplash.com/photo-1568640347023-a616a30bc3bd?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQ1MTcyMTd8&ixlib=rb-4.0.3&q=85"); /*photo by okeykat for Unsplash */
	  background-size: cover;
	  background-position: center;
	  text-align: center;
	  padding: 100px 0;
	  color: black;
	  -webkit-text-stroke: 1px hotpink;
	  text-stroke: 1px hotpink;
  }
  .hero1 p {
	  font-size: 1.5rem;
  }