/* Zeroing */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
  color: inherit;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* Zeroing */
body {
  background-color: #FF8652;
  margin: 0;
  padding: 0;
}

img {
  image-rendering: crisp-edges;
}

@font-face {
  font-family: "MishamolPuffedBun2-Regular";
  src: url("fonts/MishamolPuffedBun2-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "MishamolPuffedBun2-Regular", sans-serif;
  font-size: 50px;
  color: #FFFFFF;
}

::-moz-selection {
  background: #FF3D00;
  color: #fff;
}

::selection {
  background: #FF3D00;
  color: #fff;
}

h1 {
  font-size: 100px;
}

.navbar_burger {
  position: absolute;
  top: 32px;
  left: 46px;
  z-index: 1;
}
.navbar_burger_logo {
  width: 56px;
  height: 56px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.navbar_burger_logo:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.navbar_round {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  display: block;
  text-align: right;
  margin: 28px 46px 28px auto;
}
.navbar_round_icon {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 0;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.navbar_round_icon:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.navbar_round_icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}
.navbar_round a {
  display: inline-block;
  width: auto;
  height: auto;
  margin-left: 16px;
  padding: 0;
}
.navbar_pages {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 28px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}
.navbar_pages > li {
  position: relative;
}
.navbar_pages > li > ul {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  background-color: #FF8652;
  border-radius: 50px;
  padding: 22px;
  padding-top: 42px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}
.navbar_pages > li > ul > li {
  width: 100%;
  margin: 10px;
}
.navbar_pages > li > ul > li > button {
  width: 100%;
}
.navbar_pages > li > button {
  position: relative;
  z-index: 3;
}
.navbar_pages > li:hover > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate(-50%, -32px) scale(1);
          transform: translate(-50%, -32px) scale(1);
}
.navbar_pages_divider {
  position: relative;
  height: 8px;
  width: 100%;
  margin: 0 auto;
  border-radius: 8px;
  text-align: center;
  background-color: #FFFFFF;
}
.navbar_pages_title {
  line-height: 70%;
  text-align: center;
}
.navbar_container {
  display: block;
}
@media (min-width: 1070px) {
  .navbar_container {
    padding-left: 104px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.button {
  background-color: #FFFFFF;
  color: #292B3E;
  padding: 2px 20px 12px;
  border: none;
  border-radius: 64px;
  cursor: pointer;
  font-size: 50px;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  white-space: nowrap;
}
.button.active {
  background-color: #292B3E;
  color: #FFFFFF;
}
.button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #FF3D00;
  color: #FFFFFF;
}

.background_pale {
  height: 212px;
  background-color: #FF8652;
}

.background_orange {
  height: 212px;
  background-color: #FF612F;
}

.background_blue {
  height: 212px;
  background-color: #292B3E;
}

.background_orange_pale_down {
  height: 212px;
  background: -webkit-gradient(linear, left bottom, right top, color-stop(50%, #FF612F), color-stop(50%, #FF8652));
  background: linear-gradient(to top right, #FF612F 50%, #FF8652 50%);
}

.background_blue_orange_down {
  height: 212px;
  background: -webkit-gradient(linear, left bottom, right top, color-stop(50%, #292B3E), color-stop(50%, #FF612F));
  background: linear-gradient(to top right, #292B3E 50%, #FF612F 50%);
}

.background_blue_orange_up {
  height: 212px;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(50%, #292B3E), color-stop(50%, #FF612F));
  background: linear-gradient(to bottom right, #292B3E 50%, #FF612F 50%);
}

.background_blue_pale_up {
  height: 212px;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(50%, #292B3E), color-stop(50%, #FF8652));
  background: linear-gradient(to bottom right, #292B3E 50%, #FF8652 50%);
}

.background_blue_pale_down {
  height: 212px;
  background: -webkit-gradient(linear, left bottom, right top, color-stop(50%, #292B3E), color-stop(50%, #FF8652));
  background: linear-gradient(to top right, #292B3E 50%, #FF8652 50%);
}

.background_blue_transparent_up {
  height: 212px;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(50%, #292B3E), color-stop(50%, rgba(0, 0, 0, 0)));
  background: linear-gradient(to bottom right, #292B3E 50%, rgba(0, 0, 0, 0) 50%);
}

.background_blue_transparent_down {
  height: 212px;
  background: -webkit-gradient(linear, left bottom, right top, color-stop(50%, #292B3E), color-stop(50%, rgba(0, 0, 0, 0)));
  background: linear-gradient(to top right, #292B3E 50%, rgba(0, 0, 0, 0) 50%);
}

.background_orange_transparent_up {
  height: 212px;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(50%, #FF612F), color-stop(50%, rgba(0, 0, 0, 0)));
  background: linear-gradient(to bottom right, #FF612F 50%, rgba(0, 0, 0, 0) 50%);
}

.background_orange_transparent_down {
  height: 212px;
  background: -webkit-gradient(linear, left bottom, right top, color-stop(50%, #FF612F), color-stop(50%, rgba(0, 0, 0, 0)));
  background: linear-gradient(to top right, #FF612F 50%, rgba(0, 0, 0, 0) 50%);
}

.background_pale_transparent_up {
  height: 212px;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(50%, #FF8652), color-stop(50%, rgba(0, 0, 0, 0)));
  background: linear-gradient(to bottom right, #FF8652 50%, rgba(0, 0, 0, 0) 50%);
}

.background_pale_transparent_down {
  height: 212px;
  background: -webkit-gradient(linear, left bottom, right top, color-stop(50%, #FF8652), color-stop(50%, rgba(0, 0, 0, 0)));
  background: linear-gradient(to top right, #FF8652 50%, rgba(0, 0, 0, 0) 50%);
}

.mask_transparent_up {
  -webkit-mask-image: -webkit-gradient(linear, left top, right bottom, color-stop(50%, #FFFFFF), color-stop(50%, rgba(0, 0, 0, 0)));
  -webkit-mask-image: linear-gradient(to bottom right, #FFFFFF 50%, rgba(0, 0, 0, 0) 50%);
          mask-image: -webkit-gradient(linear, left top, right bottom, color-stop(50%, #FFFFFF), color-stop(50%, rgba(0, 0, 0, 0)));
          mask-image: linear-gradient(to bottom right, #FFFFFF 50%, rgba(0, 0, 0, 0) 50%);
  -webkit-mask-clip: padding-box;
          mask-clip: padding-box;
}

.mask_transparent_down {
  -webkit-mask-image: -webkit-gradient(linear, left bottom, right top, color-stop(50%, #FFFFFF), color-stop(50%, rgba(0, 0, 0, 0)));
  -webkit-mask-image: linear-gradient(to top right, #FFFFFF 50%, rgba(0, 0, 0, 0) 50%);
          mask-image: -webkit-gradient(linear, left bottom, right top, color-stop(50%, #FFFFFF), color-stop(50%, rgba(0, 0, 0, 0)));
          mask-image: linear-gradient(to top right, #FFFFFF 50%, rgba(0, 0, 0, 0) 50%);
  -webkit-mask-clip: padding-box;
          mask-clip: padding-box;
}

.transparent_mask_up {
  -webkit-mask-image: -webkit-gradient(linear, left top, right bottom, color-stop(50%, rgba(0, 0, 0, 0)), color-stop(50%, #FFFFFF));
  -webkit-mask-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0) 50%, #FFFFFF 50%);
          mask-image: -webkit-gradient(linear, left top, right bottom, color-stop(50%, rgba(0, 0, 0, 0)), color-stop(50%, #FFFFFF));
          mask-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0) 50%, #FFFFFF 50%);
  -webkit-mask-clip: padding-box;
          mask-clip: padding-box;
}

.transparent_mask_down {
  -webkit-mask-image: -webkit-gradient(linear, left bottom, right top, color-stop(50%, rgba(0, 0, 0, 0)), color-stop(50%, #FFFFFF));
  -webkit-mask-image: linear-gradient(to top right, rgba(0, 0, 0, 0) 50%, #FFFFFF 50%);
          mask-image: -webkit-gradient(linear, left bottom, right top, color-stop(50%, rgba(0, 0, 0, 0)), color-stop(50%, #FFFFFF));
          mask-image: linear-gradient(to top right, rgba(0, 0, 0, 0) 50%, #FFFFFF 50%);
  -webkit-mask-clip: padding-box;
          mask-clip: padding-box;
}

.panorame {
  position: relative;
  height: 212px;
  top: -212px;
}
.panorame_round {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  display: block;
  text-align: right;
  margin: 28px 46px 28px auto;
  position: relative;
  bottom: -40px;
}
.panorame_round_icon {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 0;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.panorame_round_icon:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.panorame_round_icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}
.panorame_round a {
  display: inline-block;
  width: auto;
  height: auto;
  margin-left: 8px;
  padding: 0;
}

.panorame_up {
  position: relative;
  height: 212px;
  width: 100%;
}
.panorame_up > .panorame_image {
  height: 424px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.panorame_down {
  position: absolute;
  height: 212px;
  width: 100%;
}
.panorame_down > .panorame_image {
  height: 424px;
  width: 100%;
  position: absolute;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.mishamol {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.mishamol img {
  width: 632px;
  height: auto;
  margin: auto;
}

.mishamol_description {
  height: 100%;
  max-width: 720px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mishamol_description p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.mishamol_start_button {
  position: relative;
  top: -32px;
  margin: auto;
  display: block;
}

.mishamol_sticker_pose {
  position: relative;
  margin: auto;
  display: block;
  right: -265px;
  top: -55px;
  width: 200px;
  height: 200px;
}

.gamedev_title {
  height: 100%;
  width: 720px;
  margin: 0 auto;
  padding: 0 64px;
}
.gamedev_title h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  position: relative;
  top: -100px;
}

.gamedev_description {
  height: 100%;
  width: 720px;
  margin: 0 auto;
  padding: 0 64px;
}
.gamedev_description p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  position: relative;
  top: -10px;
}